{% extends 'base.html' %}{% load imagekit %}
{% block content %}
<h2>Portfolio:</h2>
<hr>
<div class="row">
{% for project in portfolio|dictsort:'display_order' %}
<div class="col-sm-6">
<a href="{% url 'project' project.slug %}">
<div class="card">
    {% thumbnail '600x400' project.photo -- class="card-img-top img-fluid" alt="{{ project.title }} photo"%}
<div class="card-block">
    <h4 class="card-title">{{ project.title }}</h4>
    <p class="card-text">{{ project.text }}</p>
</div>
</div>
</a>
</div>


{% endfor %}
</div> <!-- row --!>
{% endblock content %}

