{% extends 'base.html' %}{% load imagekit %}

{% block content %}
<br>
<h1>{{ project }}</h1>
<br>
<div id="main-photo">
<img src="{% if project.is_landscape %}{{ project.landscape.url }}{% else %}{{ project.portrait.url }}{% endif %}" id="fullsize-photo" class="img-fluid">
</div>
<br>
<div>
<img src="{{ project.thumbnail.url }}" id="{{ project.photo }}" class="thumbnail">
{% for photo in project.photos.all %}
    {# pass the processed fullsize photo url to the data attribute for jquery gallery #}
    <img src="{{ photo.thumbnail.url }}" data-fullsize="{% if photo.is_landscape %}{{ photo.landscape.url }}{% else %}{{ photo.portrait.url }}{% endif %}" class="thumbnail">
{% endfor %}
</div>
<br>
<p>{{ project.description }}</p>
<p><strong>Architect:</strong> {{ project.architect }}</p>
{% if project.awards %}
    <p><strong>Awards:</strong> {{ project.awards }}</p>
{% endif %}
{% endblock content %}

{% block javascript %}{{ block.super }}
<script>
$(function () {
    // show thumbnail border on hover
    $(".thumbnail").hover(
        function () {
            $(this).attr('id', 'thumbnail-hover');
        },
        function () {
            $(this).removeAttr('id');
        }
    );
    // show main photo on clicking thumb
    $(".thumbnail").on('click',
        function () {
            var $thumbnail = $(this);
            $('#main-photo').height($('#fullsize-photo').height()).html(function() {
                // get the fullsize processed photo url from the thumbnail
                return '<img src="' + $thumbnail.attr('data-fullsize') + '" id="fullsize-photo" class="img-fluid">';
            });
            $('#fullsize-photo').hide();
            $('#fullsize-photo').fadeIn(700);
        }
    );
});
</script>
{% endblock javascript %}


