{% extends 'base.html' %}

{% block content %}
<br>
<h1>{{ project }}</h1>
<br>
<img src="{{ project.main_photo_full_size.url }}" class="img-fluid">
<br>
<div>
<img src="{{ project.main_photo_thumbnail.url }}">
{% for photo in project.photo_set.all %}
    <img src="{{ photo.thumbnail.url }}">
{% endfor %}
</div>
<br>

<p>{{ project.description }}</p>
<p><strong>Architect:</strong> {{ project.architect }}</p>
{% if project.awards %}
    <p><strong>Awards:</strong> {{ project.awards }}</p>
{% endif %}
{% endblock content %}
