{% extends "base.html" %}{% load staticfiles %}

{% block full_screen_image %}
<div class="container-fluid full-screen">
    <img src="{% static "images/ze_BeauxArts_31.jpg" %}" class="img-fluid" alt="Beaux Arts Village Residence">
</div>
{% endblock %}

{% block content %}
<br>
<h1>Approach</h1>
<hr>
<p>Founded by Lowell Alford in 1977, Alford Homes Inc. has over thirty years experience building fine custom homes in the Pacific Northwest and beyond. We are a small, family-run business, dedicated to providing the best possible service to our clients and partners on every project.</p>
<p>As general contractors, our hands-on approach to all aspects of the building process has earned us a reputation for detailed craftsmanship and the execution of complex and unique designs. Over the years, our work has been recognized in national publications and received multiple AIA design awards.</p>

<img src="{% static "images/IMG_5622.JPG" %}" class="img-fluid" alt="Process Photo">
<br>
<h1>Process</h1>
<hr>
<p class="lead section-lead">Our company’s services range from excavation, foundation work and framing, to custom metal work, cabinetry and finishing. Our goal is to provide assurance of quality and attention to detail in every aspect of the construction process.</p>
<p class="lead section-lead">We work closely with architects and clients throughout the estimation and bidding process to produce an accurate and transparent assessment of costs from the outset of each project.</p>
<p class="lead section-lead">Our team of skilled craftsman and tradesman take great pride in their work and bring decades of combined industry experience to each job.</p>

{% endblock content %}
